body {
  background-color: #4d4a40;
  line-height: 2;
  padding: 20px 0;
  min-width: 500px;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #fff;
}
.container header {
  background-color: #267890;
  border: 5px solid #14414e;
  text-align: center;
  margin: 0 -34px 30px;
  padding-bottom: 30px;
  color: #fff;
}
.container header h1 {
  font-size: 42px;
  font-weight: 700;
}
.container header .ori-link {
  color: #dbdbdb;
}
.container header .ori-link a {
  text-decoration: underline;
}
.container header .ori-link a:hover {
  color: #fff;
  text-decoration: none;
}
.container .content {
  width: 90%;
  margin: 0 auto;
}
.container dt {
  font-size: 32px;
  font-weight: 600;
}
.container dt,
dd {
  border-bottom: 1px dashed;
}
