.item {
  width: 200px;
  height: 200px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 8px;
  position: fixed;
  cursor: move;
}
.item i {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  font-size: 24px;
}
.txt {
  width: 300px;
  height: 50px;
  padding: 0 10px;
  border-radius: 8px;
  border-color: #aaa;
  font-size: 26px;
  position: fixed;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
