<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!--界面模板-->
      <!--vue是根据将数据填充到模板中的相应区域渲染的-->
      <h2>系统名称： {{title}}</h2>
      <ul>
        <li v-for="(item,index) in products">
          名称：{{item.name}}
          <button @click="changeStock(item,item.stock-1)">-</button>
          <span v-if="item.stock>0">{{item.stock}}</span>
          <span v-else>无货</span>
          <button @click="changeStock(item,item.stock+1)">+</button>
          <button @click="remove(index)">删除</button>
        </li>
      </ul>
    </div>

    <script src="./vue.js"></script>
    <script>
      //vm：vue实例
      const vm = new Vue({
        //配置对象
        el: "#app", //表示要用vue控制那个模块，css选择器
        data: {
          //和界面相关的数据
          title: "库存管理系统",
          products: [
            { name: "iphone", stock: 10 },
            { name: "xiaomi", stock: 7 },
            { name: "huawei", stock: 2 },
          ],
        },
        methods: {
          remove(i) {
            this.products.splice(i, 1);
          },
          changeStock(product, newStock) {
            if (newStock < 0) {
              newStock = 0;
            }
            product.stock = newStock;
          },
        },
      });
      console.log(vm);
      vm.title = 123; //数据会响应式的渲染页面
    </script>
  </body>
</html>
