.game {
  width: 800px;
  height: 600px;
  border: 2px solid #008c8c;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.game .sky {
  background: url("img/sky.png");
  width: 200%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.game .land {
  background: url("img/land.png");
  width: 200%;
  height: 112px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.game .bird {
  background: url("img/bird.png");
  width: 33px;
  height: 26px;
  position: absolute;
  left: 100px;
  top: 100px;
}
.game .bird.swing1 {
  background-position: -8px -10px;
}
.game .bird.swing2 {
  background-position: -60px -10px;
}
.game .bird.swing3 {
  background-position: -112px -10px;
}
.game .pipe {
  width: 52px;
  height: 200px;
  position: absolute;
  left: 500px;
}
.game .pipe.up {
  background: url("img/pipeDown.png");
  top: 0;
  background-position: bottom;
}
.game .pipe.down {
  background: url("img/pipeUp.png");
  bottom: 112px;
}
.info {
  text-align: center;
}
