.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.banner {
  width: 500px;
  height: 320px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.banner .imgs img {
  width: 500px;
  height: 320px;
  object-fit: cover;
  float: left;
}
.banner .dots {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 2px 4px;
  border-radius: 8px;
}
.banner .dots span {
  float: left;
  width: 8px;
  height: 8px;
  margin: 2px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.banner .dots span.active {
  background-color: #ef780b;
}
.banner .arrow {
  display: none;
}
.banner:hover .arrow {
  display: block;
}
.banner .arrow .item {
  position: absolute;
  top: 150px;
  width: 25px;
  height: 30px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  cursor: pointer;
}
.banner .arrow .item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.banner .arrow .left {
  left: 0;
  border-radius: 0 30px 30px 0;
}
.banner .arrow .right {
  right: 0;
  border-radius: 30px 0 0 30px;
  box-sizing: border-box;
  padding-left: 6px;
}
