<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../vue.js"></script>
  </head>
  <body>
    <!-- <div id="app">
      <input type="text" v-model="msg" />
      <p>Message为：{{msg}}</p>
    </div> -->
    <!-- <div id="app">
      <input type="checkbox" value="哈哈" id="checkbox" v-model="checked" />
      <label for="checkbox">{{checked}}</label>
    </div> -->
    <!-- <div id="app">
      <input type="checkbox" value="邓哥" id="deng" v-model="checkedNames" />
      <label for="deng">邓哥</label>
      <input type="checkbox" value="成哥" id="cheng" v-model="checkedNames" />
      <label for="deng">成哥</label>
      <input type="checkbox" value="大哥" id="da" v-model="checkedNames" />
      <label for="deng">大哥</label>
      <br />
      <span>被选中的人有：{{checkedNames}}</span>
    </div> -->
    <!-- <div id="app">
      <input type="radio" value="邓哥" id="deng" v-model="picked" />
      <label for="deng">邓哥</label>
      <input type="radio" value="成哥" id="cheng" v-model="picked" />
      <label for="deng">成哥</label>
      <input type="radio" value="大哥" id="da" v-model="picked" />
      <label for="deng">大哥</label>
      <br />
      <span>被选中的人是：{{picked}}</span>
    </div> -->
    <!-- <div id="app">
      <p>多行文本为：{{message}}</p>
      <textarea v-model="message" placeholder="添加文本"></textarea>
    </div> -->
    <!-- <div id="app">
      <select v-model="selected">
        <option value="请选择" disabled>请选择</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
      </select>
      <span>选择：{{ selected }}</span>
    </div> -->

    <div id="app">
      <select v-model="selectedArr" multiple>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
      </select>
      <span>选择：{{selectedArr}}</span>

      <input v-model.lazy="msg" />
      <input v-model.number="age" type="number" />
      <input v-model.trim="msg" />
    </div>
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          msg: "", //和文本框的value值双向绑定
          checked: true, //绑定到Boolean值
          checkedNames: [], //被选中的input框的value值
          picked: "", //与value同步
          message: "",
          selected: "请选择",
          selectedArr: [],
          age: 2,
        },
      });
    </script>
  </body>
</html>
